@tailwind base;
@tailwind components;
@tailwind utilities;

/* 既存のテンプレートが持つ強制的な中央寄せや背景色をリセット */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f3ead1; /* POSシステムの背景色をデフォルトに設定 */
}

/* スピンボタン（矢印）を隠すカスタムスタイル */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
